@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');
#circle{
    border-radius: 50%;
}
#green{
    background: #FFE593;
    padding: 5px;
    font-size: 2em;
}
#red{
    background: #96E5CC;
    padding: 5px;
    font-size: 2em;
}
body{
    font-family: 'Poppins', sans-serif;
}
.main{
    color: #2A2A2A; width: 80%; margin: 20vh auto;
}
#hi{
    font-weight: 400; font-size: 40px;
}
p{
    font-weight: 200; width:80%; font-size: 1.1em;
}
@media only screen and (max-width: 768px) {
.main{
        width: 100%; margin: 0 16px;
    }
#green{
    font-size: 1em;
}
#red{
    font-size: 1em;
}
p{
    font-weight: 200; width:80%; font-size: 1em;
}
#hi{
    font-weight: 400; font-size: 26px;
}
}

.color-div{
    text-align: center;
    background-color: #96E5CC;
    padding-top: 30px;
    padding-bottom: 30px;
}

.color-div p{
    text-align: center;
    width: 80%;
    margin: 20px auto;
}

#button{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    color: #2A2A2A;
    background-color: #FFE593;
    padding: 10px 30px;
}
